body {
  margin: 0;
  font-family: roboto, sans-serif;
}

header {
  background-color: #ffc017;
  font-family: spectral, serif;
  border-bottom: solid 1px #191919;
  width: 100%;
}

nav {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffc017;
  width: 100%;
  z-index: 3;
}

nav img {
  height: 0.8em;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  list-style-type: none;
  padding: 0px;
}
nav li {
  margin: 0.5em;
  font-size: 0.8em;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #191919;
}
.btn {
  border: none;
  background-color: #191919;
  color: white;
  font-size: 0.8em;
  border-radius: 20px;
  padding: 1px 10px;
  margin: 0 0.5em;
  cursor: pointer;
}

header h2 {
  padding-left: 40px;
}

h1 {
  font-size: 4em;
  font-weight: 500;
  margin: 0;
}
#container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 18em;
}
#container div {
  width: 50%;
  margin: 2em 0 2em 5em;
}

#m {
  position: relative;
  left: 75px;
}

#container p {
  width: 17em;
  margin-top: 1em;
  margin-bottom: 2em;
}
#container button {
  margin: 2em 0;
  font-size: 10px;
  padding: 8px 40px;
}
main {
  margin: 1em 5em;
}
#trending {
  display: flex;
  align-items: center;
  margin-left: 4em;
  margin-bottom: 0;
}
#trending_img {
  margin-right: 5px;
}

#cards_container {
  margin: 0;
  font-family: roboto, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.cards {
  margin: 0;
  margin-bottom: 5em;
  height: 3em;
  width: 30%;
}
.titlecard {
  display: flex;
  align-items: center;
}
.cards div:not(:first-child) {
  margin-left: 2em;
}
/* per isolare il numero in trasparenza */

.cards h5 {
  font-size: 1.2em;
  margin: 0;
  opacity: 0.2;
  margin-right: 10px;
}

.cards img {
  border-radius: 50%;
  height: 20px;
}

.cards p {
  margin-left: 5px;
  font-size: 10px;
}

.cards h4,
h6 {
  margin: 0;
}

.cards div {
  margin: 0;
}
#secondArticle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
#sezioneSinistra {
  width: 49%;
}
.sezione {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
#secondArticle .sezione .secondcards {
  align-self: stretch;
}
.secondcards h5 {
  font-weight: 800;
  font-size: 1.5em;
}
.sezione > img {
  width: 250px;
}
.footerCards {
  display: flex;
  justify-content: space-between;
}

.sezioneDestra {
  width: 45%;
  margin-top: 1em;
}

aside {
  width: 100%;
  position: sticky;
  top: 70px;
}
aside h6 {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 600;
}
aside div {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

aside button {
  background: none;
  border: 1px solid lightgray;
  color: gray;
  padding: 10px 20px;
  margin: 3px;
}
aside ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
aside ul li {
  color: gray;
  padding: 10px;
}

#secondArticle h4,
h5,
h6,
p {
  margin: 0;
}
